*.hi
*.o
capslocker
capslocker2
shortlinesonly
shortlinesonly2
respondpalindromes
girlfriend
girlfriend2
with_file
read_girlfriend
caps_girlfriend
girlfriendcaps.txt
todo.txt
appendtodo
deletetodo
deletetodo2
arg-test
todo
todo2